/* app.css */


.root {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 14px;
    -fx-background-color: #f4f4f4;
}

/* botones */
.button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-padding: 8 15 8 15;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 3, 0, 0, 1);
}

.button:hover {
    -fx-opacity: 0.9;
}

.button:pressed {
    -fx-effect: innerShadow(three-pass-box, rgba(0,0,0,0.4), 2, 0, 0, 1);
}



/* Bot贸n VERDE */
.boton-accion {
    -fx-background-color: #5cb85c;
}

/* Bot贸n AZUL */
.boton-info {
    -fx-background-color: #0275d8;
}

/* Bot贸n ROJO */
.boton-peligro {
    -fx-background-color: #d9534f;
}

/* Bot贸n GRIS */
.boton-secundario {
    -fx-background-color: #aaaaaa;
    -fx-text-fill: #333333;
}

/* Titulos / subtitulos */
.label-titulo {
    -fx-font-size: 24px;
    -fx-text-fill: #333333;
    -fx-padding: 10;
}

.label-subtitulo {
    -fx-font-size: 18px;
    -fx-text-fill: #666666;
    -fx-font-weight: bold;
}